<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
  </head>
  <body>
    <h3>User Details</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Avatar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.address %></td>
          <td><%= user.email %></td>
          <td>
            <img src="/<%= user.avatar %>"  width='150px' height='150px'/>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
